{% extends "staff/base_staff.html" %}

{% block title %}My Profile{% endblock %}
{% block page_title %}My Profile{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Profile Header -->
    <div class="card shadow-sm border-0 mb-4">

        <div class="card-body text-center">
            {%load static %}
            {% if request.user.profile_image %}
                <img src="{{ request.user.profile_image.url }}"
                    alt="Profile"
                    style="width:40px;height:40px;border-radius:50%;object-fit:cover;">
            {% else %}
                <img src="{% static 'images/default-profile.png' %}"
                    alt="Profile"
                    style="width:40px;height:40px;border-radius:50%;object-fit:cover;">
            {% endif %}

            <h3>{{ staff.get_full_name|default:staff.username }}</h3>

            <h5 class="text-muted">
                {{ staff.department }}
            </h5>

            <span class="badge bg-primary">
                {{ staff.role|title }}
            </span>

        </div>

    </div>

    <div class="row">

        <!-- Personal Information -->
        <div class="col-lg-6">

            <div class="card shadow-sm mb-4">

                <div class="card-header bg-primary text-white">

                    Personal Information

                </div>

                <div class="card-body">

                    <table class="table table-borderless">

                        <tr>
                            <th>Full Name</th>
                            <td>{{ staff.get_full_name|default:"Not Available" }}</td>
                        </tr>

                        <tr>
                            <th>Username</th>
                            <td>{{ staff.username }}</td>
                        </tr>

                        <tr>
                            <th>Email</th>
                            <td>{{ staff.email }}</td>
                        </tr>

                        <tr>
                            <th>Phone</th>
                            <td>{{ staff.phone|default:"Not Available" }}</td>
                        </tr>

                    </table>

                </div>

            </div>

        </div>

        <!-- Professional Information -->
        <div class="col-lg-6">

            <div class="card shadow-sm mb-4">

                <div class="card-header bg-success text-white">

                    Professional Information

                </div>

                <div class="card-body">

                    <table class="table table-borderless">

                        <tr>
                            <th>Department</th>
                            <td>{{ staff.department }}</td>
                        </tr>

                        <tr>
                            <th>Role</th>
                            <td>{{ staff.role|title }}</td>
                        </tr>

                        <tr>
                            <th>Joined</th>
                            <td>{{ staff.date_joined|date:"d M Y" }}</td>
                        </tr>

                    </table>

                </div>

            </div>

        </div>

    </div>

    <!-- Statistics -->

    <div class="row">

        <div class="col-md-4">

            <div class="card text-center shadow-sm">

                <div class="card-body">

                    <h6>Total Assigned</h6>

                    <h2>{{ total_assigned }}</h2>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card text-center shadow-sm">

                <div class="card-body">

                    <h6>Resolved</h6>

                    <h2>{{ total_resolved }}</h2>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card text-center shadow-sm">

                <div class="card-body">

                    <h6>Current Workload</h6>

                    <h2>{{ current_workload }}</h2>

                </div>

            </div>

        </div>


        <div class="card shadow-sm mb-4 mt-4">
            <div class="card-body">

                <h5>Average Rating</h5>

                {% if average_rating %}

                    <h2>{{ average_rating|floatformat:1 }} ★</h2>

                    <p>{{ total_reviews }} Review{{ total_reviews|pluralize }}</p>

                {% else %}

                    <h2>Not Rated Yet</h2>

                {% endif %}

            </div>
        </div>

    </div>

</div>

{% endblock %}