{% extends "accounts/login_base.html" %}

{% block title %}Password Reset Successful{% endblock %}

{% block subtitle %}

<p class="text-muted">
    Your password has been successfully changed.
</p>

{% endblock %}

{% block content %}

<div class="text-center">

    <i class="fa-solid fa-circle-check text-success"
       style="font-size:70px;"></i>

    <h3 class="mt-4">
        Password Reset Successful
    </h3>

    <p class="text-muted mt-3">

        Your password has been updated successfully.

        <br>

        You can now log in using your new password.

    </p>

    <a href="{% url 'login' %}" class="btn btn-primary mt-3">

        <i class="fa-solid fa-right-to-bracket"></i>

        Login Now

    </a>

</div>

{% endblock %}